.againstTeamGoal circle {
  fill: #f44336;
}
.againstTeamGoal:hover circle {
  fill: #b71c1c;
}
line.againstTeam {
  stroke: #f44336;
}
line.againstTeamAverage {
  stroke: #ef9a9a;
}
.against-team {
  color: #b71c1c;
}
.against-bar {
  fill: #ef9a9a;
}
