.againstTeamGoal circle {
  fill: #607d8b;
}
.againstTeamGoal:hover circle {
  fill: #263238;
}
line.againstTeam {
  stroke: #607d8b;
}
line.againstTeamAverage {
  stroke: #b0bec5;
}
.against-team {
  color: #263238;
}
.against-bar {
  fill: #b0bec5;
}
