.againstTeamGoal circle {
  fill: #ffeb3b;
}
.againstTeamGoal:hover circle {
  fill: #f57f17;
}
line.againstTeam {
  stroke: #ffeb3b;
}
line.againstTeamAverage {
  stroke: #fff59d;
}
.against-team {
  color: #f57f17;
}
.against-bar {
  fill: #fff59d;
}
