.againstTeamGoal circle {
  fill: #ff9800;
}
.againstTeamGoal:hover circle {
  fill: #e65100;
}
line.againstTeam {
  stroke: #ff9800;
}
line.againstTeamAverage {
  stroke: #ffcc80;
}
.against-team {
  color: #e65100;
}
.against-bar {
  fill: #ffcc80;
}
