.forTeamGoal circle {
  fill: #f44336;
}
.forTeamGoal:hover circle {
  fill: #b71c1c;
}
line.forTeam {
  stroke: #f44336;
}
line.forTeamAverage {
  stroke: #ef9a9a;
}
.for-team {
  color: #b71c1c;
}
.for-bar {
  fill: #ef9a9a;
}
