<!-- The game summary -->
<div class = 'container game-summary'>
	<div class = 'container row'>
		<div class = 'col-xs-5 team-heading for-team'>
				{{data.for.team.abv}} -
				{% if data.home==1 %}
    			HOME
    			{% endif %}
    			{% if data.home==0 %}
    			AWAY
    			{% endif %}
		</div>
		<div class = 'col-xs-2 centered'>

		VS

		</div>
		<div class = 'col-xs-5 team-heading against-team'>
				{{data.against.team.abv}} -
				{% if data.home==1 %}
    			AWAY
    			{% endif %}
    			{% if data.home==0 %}
    			HOME
    			{% endif %}
		</div>
	</div>
	<div class = 'container row'>
		<div class = 'col-xs-5 centered'>
				{% if data.results.win==1 %}
    			WIN
    			{% endif %}
    			{% if data.results.win==0 %}
    			LOSS
    			{% endif %}

    			({{data.results.type}})
		</div>
		<div class = 'col-xs-2 centered'>
			{{data.date}}
		</div>
		<div class = 'col-xs-5 centered'>
				{% if data.results.win==0 %}
    			WIN
    			{% endif %}
    			{% if data.results.win==1 %}
    			LOSS
    			{% endif %}

    			({{data.results.type}})
		</div>
	</div>
	<div class = 'container row'>
		<div class = 'col-xs-5 centered'>{{data.for.stats.goals.total}}</div>
		<div class = 'col-xs-2 centered'>

		</div>
		<div class = 'col-xs-5 centered'>{{data.against.stats.goals.total}}</div>

	</div>

	<!-- The game stats bar graphs-->
	<h2>
	<span id="stats-title"> Game Stats</span>
	<span data-toggle="tooltip"
		title=" Game Stats are summaries of different stats
		for both teams. For each stat the ratio of the stat
		vs the total stats is calculated. For example:

			for goal ratio = (for goals)/(for goals) + (against goals)

		The ratios are shown as bar graphs for both teams.
		The bars to the left are for {{data.for.team.abv}} and the bar to
		the right are for {{data.against.team.abv}}.">(i)</span>
	</h2>
	<div class='row'>
		<div class='col-xs-6 centered'>
		{{data.for.team.abv}}
		</div>
		<div class='col-xs-6 centered'>
		{{data.against.team.abv}}
		</div>
	</div>
	<div id='game-stats' class="bar-chart">
	</div>

	<!-- The game flow graph-->
	<h2>
		<span id="flow-title"> Game Flow </span>
		<span data-toggle="tooltip"
			title=" The game flow is a graph of the difference of
			attempts between the teams.

			Attempts are a good way to gauge the flow of the game
			using more than just the score. Attempts have
			been proven to be a good predictor of how teams
			will do over the course of a season.

			Attempts are:
					goals + shots + misses + blocked shots

			When the graph goes right, {{data.for.team.abv}} has the advantage.
			When the graph goes left, {{data.against.team.abv}} has the advantage.

						 ">(i)</span>
	</h2>

	<h3>Attempt Difference Over Time</h3>
	<div id='game-graph'>
	</div>

	<!-- The zoom toggle buttons-->
	<div class='row'>

			<div class = 'col-xs-2'>
				Zoom To:
			</div>

			<div class = 'col-xs-10'>

				<button type="button" class="btn btn-default" id="1-period">1st</button>
				<button type="button" class="btn btn-default" id="2-period">2nd</button>
				<button type="button" class="btn btn-default" id="3-period">3rd</button>
				<button type="button" class="btn btn-default" id="ot-period">OT</button>
				<button type="button" class="btn btn-default" id="all-period">All</button>

			</div>
	</div>
</div>
