<!-- The game summary -->
<h1>
Using Attempts to Assess An NHL Team's Performance
</h1>
<h1>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#infoModal">Info</button>
</h1>
<!-- Modal for info -->
<div id="infoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title centered">Info</h4>
      </div>
      <div class="modal-body">
        <p>Welcome to the NHL Game Summary App.</p>
				<p>This app is designed to visually show how a NHL hockey game went.
					 Usaully, when looking for this information a hockey fan might check
					 out the box score of a game, which shows stats like goals, shots
					 and penalties. That is great if you only care about who won, but if
					 you want to know how the game went, you need more. In many cases a hockey
					 team could have played very well, but thanks to bad goaltending, badluck or
					 other factors, still have lost.
				</p>
				<p>The Game Summary app gives a graphical representation of the game stats
					and shows the flow of the game, which in some ways is more meaningful
					than the final score.
					<a href="https://www.nhl.com/news/primer-get-to-know-new-enhanced-stats-on-nhl-com/c-754260">
					Read about advanced stats in the NHL.</a>
				</p>
				<p><b>Game Flow - </b> The median difference between a team's attempts and
          their opponent's attempts when a team scores is 2. For that reason we
          use attempts to show 'game flow'. When a team has an advantage in attempts
          they are more likey to score goals and win games. On average, when a team
          scores a goal they will have at least 2 more attempts than their opposition.
				</p>
				<p>
					<b>Attempts - </b> An attempt is a goal, a shot, a missed shot or a shots
					that is blocked by the other team.
				</p>
				<p><b>Features</b><p>
					<p>- Zoom into different periods.</p>
					<p>- Mouse over events to get detials.<p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class = 'container game-summary'>
	<div class = 'container row'>
		<div class = 'col-xs-4 team-heading for-team'>
				{{data.for.team.abv}} -
				{% if data.home==1 %}
    			HOME
    			{% endif %}
    			{% if data.home==0 %}
    			AWAY
    			{% endif %}
		</div>
		<div class = 'col-xs-4 centered'>

		VS

		</div>
		<div class = 'col-xs-4 team-heading against-team'>
				{{data.against.team.abv}} -
				{% if data.home==1 %}
    			AWAY
    			{% endif %}
    			{% if data.home==0 %}
    			HOME
    			{% endif %}
		</div>
	</div>
  <div class = 'container row'>
		<div class = 'col-xs-4 centered'>
				{{data.for.team.name}}
		</div>
		<div class = 'col-xs-4 centered'>
			{{data.date}}
		</div>
		<div class = 'col-xs-4 centered'>
				{{data.against.team.name}}
		</div>
	</div>
	<div class = 'container row'>
		<div class = 'col-xs-4 centered'>
				{% if data.results.win==1 %}
    			WIN
    			{% endif %}
    			{% if data.results.win==0 %}
    			LOSS
    			{% endif %}
		</div>
		<div class = 'col-xs-4 centered'>
      Decided In
		</div>
		<div class = 'col-xs-4 centered'>
				{% if data.results.win==0 %}
    			WIN
    			{% endif %}
    			{% if data.results.win==1 %}
    			LOSS
    			{% endif %}
		</div>
	</div>
	<div class = 'container row'>
		<div class = 'col-xs-4 centered'>{{data.for.stats.goals.total}}</div>
		<div class = 'col-xs-4 centered'>

      {% if data.results.type=="REG" %}
      Regulation Time
      {% endif %}
      {% if data.results.type=="OT" %}
      Overtime
      {% endif %}
      {% if data.results.type=="SO" %}
      SShotout
      {% endif %}

		</div>
		<div class = 'col-xs-4 centered'>{{data.against.stats.goals.total}}</div>

	</div>

	<!-- The game flow graph-->
	<h2>
		<span id="flow-title"> Game Flow </span>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#infoFlow">Info</button>
	</h2>

	<!-- Modal for flow -->
	<div id="infoFlow" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title centered">Game Flow</h4>
	      </div>
	      <div class="modal-body">
					<p>The game flow is a graph of the difference of attempts between the teams.</p>
					<p>Attempts are a good way to gauge the flow of the game using more
					than just the score. Attempts have been proven to be a good predictor
					of how teams will do over the course of a season.</p>

					<p>Attempts are:</p>
					<p>	goals + shots + misses + blocked shots</p>
					<p>When the graph goes left, {{data.for.team.abv}} has the advantage.
					When the graph goes right, {{data.against.team.abv}} has the advantage.</p>
          <p> The median attempts by a team when they score is 2 (for the 2015-2016 season).
          On the graph this is represented by lines at 2 on either side of the axis.
          The lines</p>
          <p><b>Goals</b></p>
          <p> - Goals are represented by circles on the graph. {{data.for.team.abv}}'s goals
            will be to the left of the line and {{data.for.team.abv}}'s color while
            {{data.against.team.abv}}'s goals will be to the right of the line and
            {{data.against.team.abv}}'s color.</p>
          <p><b>Zooming</b></p>
          <p> - When zoomed (picking a period or overtime) the graph will shift
                so the attempt difference starts at 0. This is to provide a
                better idea of what is happening in that period.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>

	<h3>Attempt Difference Over Time</h3>
	<div id='game-graph'>
	</div>

	<!-- The zoom toggle buttons-->
	<div class='row text-center'>

			<div class = 'col-xs-12'>

				<button type="button" class="btn btn-default btn-success" id="1-period">1st</button>
				<button type="button" class="btn btn-default btn-success" id="2-period">2nd</button>
				<button type="button" class="btn btn-default btn-success" id="3-period">3rd</button>
				{% if data.results.gameLength>3600 %}
				<button type="button" class="btn btn-default btn-warning" id="ot-period">OT</button>
				{% endif %}
				<button type="button" class="btn btn-default btn-primary" id="all-period">All</button>

			</div>
	</div>

	<!-- The game stats bar graphs-->
	<h2>
	<span id="stats-title"> Game Stats</span>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#infoStats">Info</button>
	</h2>

	<!-- Modal for flow -->
	<div id="infoStats" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title centered">Game Stats</h4>
	      </div>
	      <div class="modal-body">
					<p>Game Stats are summaries of different stats for both teams.
						For each stat the ratio of the stat vs the total stats is calculated.
						For example:</p>
					<p>for goal ratio = (for goals)/((for goals) + (against goals))</p>
					<p>The ratios are shown as bar graphs for both teams. The bars to
						the left are for {{data.for.team.abv}} and the bar to the right
						are for {{data.against.team.abv}}.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>

	<div class='row'>
		<div class='col-xs-6 centered'>
		{{data.for.team.abv}}
		</div>
		<div class='col-xs-6 centered'>
		{{data.against.team.abv}}
		</div>
	</div>
	<div id='game-stats' class="bar-chart">
	</div>



</div>
