<!-- Navbar template -->

<nav class="navbar navbar-custom navbar-static-top">
    <div class="container">
        <div class="navbar-header pull-left">
            <div class="col-xs-5 col-sm-2 col-lg-2">
                <a class="navbar-brand" href="\">{{nav.title}}</a>
            </div>
            <div class="nav-search col-xs-6 col-sm-9 col-lg-9">
                <div class="input-group">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </button>
                  </div>
                  <input type="text" class="form-control" aria-label="...">
                </div>
            </div>
        </div>
         <div class="navbar-header pull-right">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger nav-dropdown" aria-hidden="true"></span>
             </a>
             <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
            </ul>
        </div>
        
        
       
    </div>
</nav>